<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Unfraud_Module>
            <version>0.1.0</version>
        </Unfraud_Module>
    </modules>
    <global>
        <helpers>
            <Module>
                <class>Unfraud_Module_Helper</class>
            </Module>
        </helpers>
        <models>
            <Unfraud_Module>
                <class>Unfraud_Module_Model</class>
            </Unfraud_Module>
        </models>
        <blocks>
            <Unfraud_Module>
                <class>Unfraud_Module_Block</class>
            </Unfraud_Module>
        </blocks>        
        <events>
            <sales_order_place_after>
                <observers>
                    <Unfraud_Module>
                        <class>Unfraud_Module/observer</class>
                        <method>exportOrder</method>
                    </Unfraud_Module>
                </observers>
            </sales_order_place_after>
        </events>       
    </global>
    <admin>
        <routers>
            <Unfraud_Module>
                <use>admin</use>
                <args>
                    <module>Unfraud_Module</module>
                    <frontName>unfraud</frontName>
                </args>
            </Unfraud_Module>
        </routers>
    </admin>   
	<frontend>
	    <layout>
	        <updates>
	            <Unfraud_Module>
	                <file>unfraudanalytics.xml</file>
	            </Unfraud_Module>
	        </updates>
	    </layout>
	</frontend>
</config>
